
.input-augkara{
  margin: 8px 4px;
  padding-top: 8px;
  padding-bottom: 4px;

  display: inline-block;
  width:2rem;
  
  
  background-color: white;
  color:black;
  text-align:center;
  font-size: 1.375rem;
  border-radius: 5px;
}



