<table class="w3-table">
  <% tables.forEach(function(row){%>
    <tr>
      <% row.forEach(function(col){%>
        <td><%=col%></td>
      <% }) %>      
    </tr>
  <% }) %>
</table>
<!-- table class="w3-table">
  <tr>
    <td>อ</td>
    <td>อา</td>
    <td>อิ</td>
    <td>อี</td>
    <td>อุ</td>
    <td>อู</td>
    <td>เอ</td>
    <td>โอ</td>
  </tr>
  <tr>
    <td>กฺ</td>
    <td>ขฺ</td>
    <td>คฺ</td>
    <td>ฆฺ</td>
    <td>งฺ</td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>จฺ</td>
    <td>ฉฺ</td>
    <td>ชฺ</td>
    <td>ฌฺ</td>
    <td>ญฺ</td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>ฏฺ</td>
    <td>ฐฺ</td>
    <td>ฑฺ</td>
    <td>ฒฺ</td>
    <td>ณฺ</td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>ตฺ</td>
    <td>ถฺ</td>
    <td>ทฺ</td>
    <td>ธฺ</td>
    <td>นฺ</td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>ปฺ</td>
    <td>ผฺ</td>
    <td>พฺ</td>
    <td>ภฺ</td>
    <td>มฺ</td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>ยฺ</td>
    <td>รฺ</td>
    <td>ลฺ</td>
    <td>วฺ</td>
    <td>สฺ</td>
    <td>หฺ</td>
    <td>ฬฺ</td>
  </tr>
  <tr>
    <td>&nbsp;&nbsp;ํ</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
</!-->